.big-title {
  font-size: 5rem;
}

.medium-title {
  font-size: 2.7rem;
}

.name-title {
  font-size: 2rem;
}

.turn-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid black;
}
